<head>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<nav>
    {{!-- <ul> --}}
        <a href="/">Home</a>
         <a href="/help">Help</a>
          <a href="/about">About</a>
           <a href="/suraj">Suraj</a>
    {{!-- </ul> --}}
    
</nav>

<h3>{{title}}</h3>


<footer>
 
<h1 style="position: fixed;left: 0;bottom: 0;width: 100%;background-color: red;color: white;text-align: center"> Created by {{name}}. 
</h1>

</footer>

