<!-- Footer -->
<div class="ft">
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://suraj1.netlify.com/"> Suraj Gholap</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div> 